 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Hi! Thanks for visiting my website. Maybe you should know that I live in the city of Maracaibo, Venezuela!. And further that Systems Engineer, I Specializing in Web Development, Systems Administration & DevOps Under Linux from the end of 2010.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>I'm a programmer specialized in Linux Web Technologies working with Apache, MySQL, PostgreSQL and laravel, Wordpress. Always developed under the responsive design.</p>
                </div>
            </div>
        </div>
    </section>
